*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    position: relative;
}
.container{
    width: 80%;
    margin: auto;
}
header{
    display: flex;
    align-items: center;
} 
h1{
    text-align: center;
    font-size: 3rem;
    margin-left: auto;
}
header{
    box-shadow: 0 0 2px 0 rgb(94, 94, 94);
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #fff;
}
.item-values{
    position: relative;
    margin-left: 7rem;
}
.buttons{
    padding-top: 79px;
}
.clear, .check-out, .total{
    padding: 0.3rem 0.7rem;
    text-decoration: none;
    border: 2px solid orange;
    border-radius: 25px;
    color: orange;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    display: inline-block;
    margin: 1.5rem 0.5rem 1.5rem 0.5rem;


}
#total-value{
    margin-left: 180px ;
    margin-right: 150px;
    transition-duration: 1s;

}
table{
    width: 100%;
    font-size: 1.5em;
    border-collapse: collapse;
    border-spacing: 0;
}
th{
    background-color: orangered;
    padding: 0.5em 0;
}

tbody tr:nth-child(even){
    background-color: rgb(255, 123, 0);
}
.cart-list td{
    padding: 0.3em 0;
    text-align: center;
}

.list-item-total-value{
    font-size: 1.5em;
    padding: 0.5em;
    background-color: orangered;
    text-align: right;
}
#total-amount{
    margin-left: 5rem;
    margin-right: 5.7rem;
}

#clear, #check-out{
    margin: 1em 2em;
    text-transform: uppercase;
}

#clear:hover, #check-out:hover{
    background-color: orange;
    color: #fff;
}

.buttons{
    text-align: center;
    width: 80%;
    margin: auto;
    border-bottom: 2px solid orange;
}

.button{
    padding: 0.3rem 0.7rem;
    text-decoration: none;
    border: 2px solid orange;
    border-radius: 25px;
    color: orange;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    display: inline-block;
    margin: 1.5rem 0.5rem 1.5rem 0.5rem;
}


.menu-container{
    padding-top: 2rem;

}

.menu{
    width: 350px;
    height: 400px;
    margin-top: 1rem;
    position: relative;
    pointer-events: all;
    overflow: hidden;

}

.shopping{
    position: absolute;
    bottom: 53px;
    right: 3px;
    transform: translateX(110%);
    transition-duration: 0.5s;
    font-size: 25px;
    padding: 0.5rem;
    background-color: #fff;
    border-top-left-radius: 15px;
    cursor: pointer;
}

.menu:hover img{
    transform: scale(1.2);
}
.menu:hover .shopping{
    transform: translateX(0%);
}

.img{
    
    width: 350px;
    height: 350px;
    border: 3px solid rgb(255, 174, 0);
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;

}

.menu-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    margin: auto;
}

.text{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    font-size: 1.5em;
    padding: 0.3rem;
    border-bottom: 2px solid rgb(223, 218, 218);
    font-weight: bold;
}

.price{
    color: rgb(253, 187, 4) ;
}
.active-btn{
    color: #fff;
    background-color: rgb(255, 174, 0);
}
.modal-wrapper{
    position: absolute;
    top: 77px;
    right: 30px;
    background-color: #fff;
    width: 450px;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}
.modal-inner{
    width: 600px;
    height: 100%;
}
.clear-check{
    text-align: center;
}
.checkout-wrapper{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.check-h1{
    margin: 0;
}
.link-btn{
    text-decoration: none;
}
.btn{
    display: block;
    margin-top : 1rem;
    outline: none;
    border : none;
    background-color: orangered;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
}